@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import 'tailwindcss';
@import 'tw-animate-css';

/* Correct font family class */
.bebas {
  font-family: 'Bebas Neue', sans-serif !important;
  font-weight: 400; /* regular */
}

.Nunito{
  font-family: 'Nunito',sans-serif;
  font-weight: 400;/* regular */
}

/* Apply Nunito font to all text except headings and bebas class */
body *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.bebas):not(.bebas *) {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #00ff40;
}

::-webkit-scrollbar-thumb {
  background: #22ff00;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #42f80a;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

/* Blur effect when scrolling */
.content {
  transition: filter 0.5s;
}

html:not([data-scroll='0']) .content {
  filter: blur(15px);
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-55px); }
}
.floating {
  animation: float 3s ease-in-out infinite;
}